@import "../scss/variable.scss";

.analyticProgress {
    .title {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: var(--hedging-text-color);
    }
    .stats {
        padding: 2px 10px 2px 8px;
        gap: 4px;
        background-color: #ecfdf3;
        border-radius: 16px;
        margin-bottom: 8px;
        .icon {
            width: 7px;
            height: 7px;
            display: inline-table;
        }
        .counter {
            font-size: 14px;
            font-weight: 500;
            color: #027a48;
        }
    }
    .progress {
        height: 6px !important;
        > div {
            height: 6px !important;
        }
    }
}
.card_footer {
    padding: 30px 20px !important;
    border-color: var(--border-color) !important;
    background-color: var(--bg-content) !important;
}
